.country-region {
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 0px auto 20px auto;
}

.country-region h3 {
  font-size: 24px;
  color: var(--purple);
  margin-bottom: 25px;
  font-weight: bold;
  text-align: flex-start; 
}

.country-table-grid {
  display: flex;
  flex-direction: column;
  gap: 25px; 
}

.country-stat {
  display: flex;
  align-items: center;
  gap: 30px; 
  padding: 15px;
  border: none;
  border-radius: 10px;
}

.country-stat .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.country-stat .icon.red img {
  color: var(--red);
 
}

.country-stat .icon.green img {
  color: var(--green);
 
}

.stat-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.country-stat-text .title {
  font-size: 13px;
  font-weight: bold;
  color: var(--purple);
  margin: 0;
}

.country-stat-text .value {
  font-size: 16px;
  color: var(--text-dark); 
  margin: 0;
}

.value {
  font-size: 16px;
  margin: 0;
  font-weight: bold; 
}
