@import url(Graphic/graphic.css);
@import url(CityDetail/cityDetail.css);
@import url(CountryDetail/countryDetail.css);

:root {
    --purple: #5F29B8;
    --red: #F82734;
    --text-red: #F82734;
    --green: #4caf50;
    --gray: #f3f3f3;
    --text-dark: #333;
    --text-light: #666;
    --text-purple: #5F29B8;
    --light-purple:#F0E7FF;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Georgia', sans-serif;
    background: rgb(255, 255, 255);
    color: var(--text-purple);
    font-weight: bolder;
  }
  
  .container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
  }

  h1 {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  